<div class="card mb-3">
  <div class="card-header">
    <h5 class="card-title">Order Number: {{ order.Order_ID}}</h5>
  </div>
  <div class="card-body">
    <p class="card-text">Crust: {{order.Crust}}</p>
    <p class="card-text">Size: {{order.Size}}</p>
    <p class="card-text">Flavor: {{order.Flavor}}</p>
    <p class="card-text">Table: {{order.Table_No}}</p>
  </div>
  <div class="card-body">
    <button (click)="handleDeleteOrder()" type="button" class="btn btn-sm btn-danger">Delete Order</button>
  </div>
</div>